/* Adjust parent page css to prevent scrolling on small devices */
#p, .width {
    min-width: 0;
}

/*
    Overwrite bootstrap styles
*/

#calculator .panel-primary {
    border-color: #f7f0d0;
}

#calculator .panel-primary > .panel-heading {
    color: #232323;
    background-color: #f7f0d0;
    border-color: #f7f0d0;
    background-image: -webkit-linear-gradient(top, #f7f0d0 0, #ddd2a3 100%);
    background-image: -o-linear-gradient(top, #f7f0d0 0, #ddd2a3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f0d0), to(#ddd2a3));
    background-image: linear-gradient(to bottom, #f7f0d0 0, #ddd2a3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f0d0', endColorstr='#ffddd2a3', GradientType=0);
    background-repeat: repeat-x;
}

#calculator .nav-tabs > li > a {
    color: #515151;
}

#calculator .nav-tabs > li > a:hover,
#calculator .nav-tabs > li.active > a,
#calculator .nav-tabs > li.active > a:hover,
#calculator .nav-tabs > li.active > a:focus {
    color: #860b05;
}

#calculator .tab-pane {
    padding-top: 20px;
}

#calculator .form-horizontal .control-label {
    margin-bottom: 0;
    text-align: left;
}

#calculator .form-horizontal .labels {
    padding-top: 0;
}

#calculator .form-horizontal .labels label {
    font-weight: 700;
}

#calculator .btn-primary {
    background: #cccccc;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ODg4ODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    background: -moz-linear-gradient(top, #cccccc 0%, #888888 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #888888));
    background: -webkit-linear-gradient(top, #cccccc 0%, #888888 100%);
    background: -o-linear-gradient(top, #cccccc 0%, #888888 100%);
    background: -ms-linear-gradient(top, #cccccc 0%, #888888 100%);
    background: linear-gradient(to bottom, #cccccc 0%, #888888 100%);
    border: none;
    color: #fff;
    padding: 0 20px;
    height: 35px;
    cursor: pointer;
    font: bold 12px/35px Verdana, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .38);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    outline: none;
}

#calculator .btn-primary:hover {
    background: #f3f3f3;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTg5ODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    background: -moz-linear-gradient(top, #f3f3f3 0%, #898989 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #898989));
    background: -webkit-linear-gradient(top, #f3f3f3 0%, #898989 100%);
    background: -o-linear-gradient(top, #f3f3f3 0%, #898989 100%);
    background: -ms-linear-gradient(top, #f3f3f3 0%, #898989 100%);
    background: linear-gradient(to bottom, #f3f3f3 0%, #898989 100%);
}

#calculator .btn-primary:active {
    background: #a3a3a3;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .5);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .5);
}

/*
    Custom styles
*/

#calculator .panel-gray {
    background-color: #f4f4f4;
    background-image: -webkit-linear-gradient(top, #e8e8e8 0, #f4f4f4 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0, #f4f4f4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f4f4f4));
    background-image: linear-gradient(to bottom, #e8e8e8 0, #f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff4f4f4', GradientType=0);
    background-repeat: repeat-x;
}

#calculator .col-xs-12-100px,
#calculator .col-xs-100px {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#calculator .col-xs-12-100px {
    width: calc(100% - 130px);
}

#calculator .col-xs-100px {
    width: 130px;
}

#calculator .margin-bottom-15px {
    margin-bottom: 15px;
}

#calculator .margin-bottom-20px {
    margin-bottom: 20px;
}

#calculator input[type="number"],
#calculator input[type="number"]:focus {
    background: #fff;
    border: 1px solid #bababa;
    border-color: #bababa #d6d6d6 #eaeaea;
    padding: 7px 11px 8px;
    color: #5e6569;
    height: 35px;
    -webkit-box-shadow: inset 0 1px 1px rgba(174, 174, 174, .5);
    -moz-box-shadow: inset 0 1px 1px rgba(174, 174, 174, .5);
    box-shadow: inset 0 1px 1px rgba(174, 174, 174, .5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#calculator .goods-masses-table {
    max-width: 500px;
    margin: 0 auto;
}

#calculator .goods-masses-table > thead > tr > th {
    background-color: #f5eecd;
}

#calculator .boxes-svg-container {
    margin: 0 auto 10px;
    width: 100%;
    max-width: 750px;
}

#calculator img.truck,
#calculator img.trailer {
    width: 100%;
    margin-bottom: 10px;
}

#calculator #imgTruck2 {
    max-width: 392px;
}

#calculator #imgTruck3 {
    max-width: 431px;
}

#calculator #imgTrailer1,
#calculator #imgTrailer2,
#calculator #imgTrailer3 {
    max-width: 673px;
}

#calculator .calc-result {
    max-width: 500px;
    margin: 0 auto;
}

#calculator .calc-result > div {
    padding-bottom: 10px;
}

@media (min-width: 992px) {
    #calculator .padding-top-md-40px {
        padding-top: 40px;
    }
}

#calculator #truck-weight {
    width: 100%;
    max-width: 370px;
}

@media (max-width: 991px) {
    #calculator #truck-weight {
        display: block;
        margin: 0 auto;
    }
}
